html{
    padding: 0;
    margin: 0;
    --colorfooter:rgb(255, 255, 255);
    --color-script-footer:white;
    --color-maison:rgb(250, 4, 229);
    --color-linkedin:rgb(114, 114, 245);
    --color-print:red;
    --color-maison-hover:turquoise;
    --color-svg-langages:rgb(255, 0, 21);
    --color-svg-etoiles:rgb(7, 172, 54);
    --color-svg-tools:rgb(140, 138, 138);
    --navbar-background-color: rgba(0, 0, 0, 0.3);
    --bouton-backtotop-color:rgb(209, 16, 151);
    --backgrounds-color:white;
    --body-color:black;
}
body{
    /* background-color: var(--body-color); */
    background-color: rgb(247, 212, 247);
    background-attachment: fixed;
}
.row{
    margin: 0;
    padding: 0;
}
.container-fluid svg{
    color: var(--color-maison);
}
.container-fluid svg:hover{
    color: var(--color-maison-hover);
}
#intro{
    transform: translateY(-500px);
    background-color: rgb(224, 170, 224,0.5);
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.background-div{
    margin-top: 20px;
}
#profil{
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--backgrounds-color);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}
.background-div{
    background-color: var(--backgrounds-color);
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
}
#profil h1, #profil p, .titre-profil h2, #adad p, #titre-formation h2{
    text-align: center;
}
#boutons-liens, .titre-profil, #profil p, #profil h1,#photo-profil,#desc-profil, #competences h2,.svg-langages{
    margin-top: 40px;
}
#photo-profil img{
    height: 400px;
    width: auto;
}
#telecharger-cv{
    display: flex;
    justify-content: center;
}
.navbar{
    position: fixed;
    width: 100%;
    background: var(--navbar-background-color);
    z-index: 1;
}
.imgfond{
    /* height: 100vh;
    width: 99vw; */
    height: 90vh;
}
.imgfond .img{
    background-image: url(./images/planner-4233907_1920.jpg);
    /* height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    height: 100%;
    border-radius: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo-linkedin,#desc-linkedin,#desc-print, #photo-profil, #competences h2, #competences p,.svg-langages, .titre-langages, .svg-tools, .titre-tools, .svg-web-design, .titre-web-design, .svg-office, .titre-office, .svg-travail, .titre-travail, .svg-langues, .titre-langues{
    display: flex;
    justify-content: center;
}
#desc-profil{
    display: flex;
    justify-content: center;
    align-items: center;
}
#svg-web-design img, #svg-travail img, #svg-langues img,#img-forma img,#img img,#svg-office img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
#img-langages img{
    height: auto;
    width: 100%;
    border-radius: 20px;
}
.qualites p{
    text-align: center;
}
#html,#part-html, #part-css, #part-js, #part-wordpress, #part-bootstrap, #part-whimsical, #part-photoshop, #part-illustrator, #part-word, #part-excel, #part-power, #part-windows, #part-visual, #part-francais, #part-anglais, #part-turc, #formation-1,#xp-desc,#desc-profil{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#formation-2, #formation-3{
    flex-direction: column;
    display: flex;
    align-items: center;
}
#notes-langages,#notes-tools, #notes-Web-Design,#notes-office,#notes-travail,#notes-langues,#formations,#xp-part{
    padding-top: 10px;
}
#img-forma{
    display: flex;
    align-items: center;
}
#notes-langages svg, #notes-tools svg, #notes-Web-Design svg, #notes-office svg, #notes-travail svg, #notes-langues svg{
    color: var(--color-svg-etoiles);
    height: 40px;
    width: 30px;
}
#svg-tools img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#formation-1 img,#formation-2 img, #formation-3 img{
    height: 100px;
    width: 100px;
}
#formations p, #xp h2, #xp p{
    text-align: center;
}
#portfolio{
    text-align: center;
    padding-top: 10px;
}
#portfolio img{
    height: auto;
    width: 100%;
}
#loisirs-photos img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
#xp-desc{
    display: flex;
    justify-content: center;
    align-items: center;
}
#tel, #mail, #maps{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#Ca-cie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contacts img{
    height: 100px;
    width: 100px;
}
#contacts a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#num p,#ad-mail p{
    margin: 0;
}
#maps img{
    margin-top: 50px;
}
footer{
    background-color: var(--colorfooter);
    /* background-image: url(./images/triangles-1430105.png);
    background-attachment: fixed; */
    padding-top: 10px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    padding-top: 50px;
}
#footer-content svg,#footer-content p{
    color: var(--color-script-footer);
}
#logo-linkedin svg{
    color:var(--color-linkedin);
}
#logo-linkedin{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#loisirs h2{
    text-align: center;
}
#desc-linkedin{
    display: flex;
    justify-content: flex-end;
}
#desc-print{
    display: flex;
    justify-content: flex-start;
}
#logo-print{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
#logo-print svg{
    color:var(--color-print);
}
#copyright{
    height: 100px;
}
#copyright h3{
    margin-bottom: 0;
    text-align: center;
}
#retour-haut svg{
    color: var(--bouton-backtotop-color);
    height: 50px;
    width: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.techno2 {
    position: relative;
    width: auto;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.6s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: rgb(242, 137, 250, 0.5);
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.6s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}



/* types de polices h1 h2 p*/

@media(max-width:768px){
    #intro{
        transform: translateY(-400px);
        background-color: rgb(224, 170, 224,0.5);
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 10px;
    }
    #telecharger-cv, #github{
        display: flex;
        justify-content: center;
    }
    #logo-linkedin,#logo-print,#desc-linkedin,#desc-print{
        display: flex;
        justify-content: center;
    }
    #desc-linkedin{
        display: flex;
        order: 2;
    }
    #logo-print svg{
        color:var(--color-print);
        margin-left: 0px;
    }
    #logo-print{
        display: flex;
        order: 3;
        margin-top: 20px;
    }
    #desc-print{
        display: flex;
        order: 4;
    }
    #maps img{
        margin-top: 0;
    }
    .imgfond{
        /* height: 100vh;
        width: 99vw; */
        height: 50vh;
    }
    .imgfond .img{
        background-image: url(./images/planner-4233907_1920.jpg);
        /* height: 100%;
        width: 100%;
        background-attachment: fixed;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; */
        height: 100%;
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
